-- =====================================================
-- Descripción: Testeamos los Errroes
-- Script: DB_ParticularCore__C99__Test Errores.sql - INICIO
-- =====================================================

USE DB_ParticularCore
GO

		
SELECT * FROM LogErroresApp
GO
SELECT * FROM LogErrores
GO

-- ---------------------------
-- Script: DB_ParticularCore__C99__Test Errores.sql - FIN
-- =====================================================