-- =====================================================
-- Descripción: Agrgamos el contexto "Testing"
-- Script: DB_ParticularCore__C20__Add Contexto Testing.sql - INICIO
-- =====================================================

USE DB_ParticularCore
GO

				-- Variable que utilizamos en los insert - INICIO
					DECLARE	@Seccion_Administracion VARCHAR(30)
						,@Seccion_Intranet VARCHAR(30)
						,@Seccion_Web VARCHAR(30)
						,@Seccion_PrivadaDelUsuario VARCHAR(30)
		
					EXEC @Seccion_Administracion = ufc_Secciones__Administracion
					EXEC @Seccion_Intranet = ufc_Secciones__Intranet
					EXEC @Seccion_Web = ufc_Secciones__Web
					EXEC @Seccion_PrivadaDelUsuario = ufc_Secciones__PrivadaDelUsuario
					
					DECLARE @UsuarioQueEjecutaId INT = '1' -- OJO, q si va UsuarioId=1 -- > VA EN ContextoId=1 --> no logueable
						,@FechaDeEjecucion DATETIME = GetDate()
						,@Token                     VARCHAR(40) = 'OperacionDeCore'
 						--,@Seccion					VARCHAR(30) = @Seccion_Administracion -- Las páginas que se crearán deben ir es esta sección.
						,@CodigoDelContexto			VARCHAR(40) = NULL
						
						,@sResSQL VARCHAR(1000)	
						,@id INT
						,@TablaId INT
						,@FuncionDePaginaId INT
						,@Nombre VARCHAR(100)
						,@Mensaje VARCHAR(MAX)
						,@TablaDelExec VARCHAR(80)
				-- Variable que utilizamos en los insert - FIN
		
		
SELECT * FROM Contextos
SELECT * FROM Usuarios
SELECT * FROM RelAsig_RolesDeUsuarios_A_Usuarios

	
	SET @TablaDelExec = 'Contextos'
	PRINT 'Insertando sobre la tabla: ' + @TablaDelExec
	
	SET @Nombre = 'Testing'
	EXEC usp_Contextos__InsertConAdicionales
			@UsuarioQueEjecutaId = @UsuarioQueEjecutaId
			,@FechaDeEjecucion = @FechaDeEjecucion
	 		,@Token = @Token 
			,@Seccion = @Seccion_Administracion
			,@CodigoDelContexto = @CodigoDelContexto 
			,@Nombre = @Nombre
			,@Codigo = @Nombre
			,@CarpetaDeContenidos = @Nombre
			,@Observaciones = ''
			,@PassDeUsuarios = '15b60a029e0653c24725d5d625b2d571a0db202d' -- 3ntr0p1A
			,@sResSQL = @sResSQL OUTPUT
			,@id = @id OUTPUT
			SELECT @Mensaje = '@sResSQL=' + COALESCE(@sResSQL, '-NULL-') + ' // Tabla=' + COALESCE(@TablaDelExec, '-NULL-') + ' // RegistroNombre=' + COALESCE(@Nombre, '-NULL-') +  ' // id=' + COALESCE(CAST(@id AS VARCHAR(MAX)), '-NULL-')
			IF @sResSQL = '' BEGIN PRINT @Mensaje END ELSE BEGIN RAISERROR (@Mensaje, 16, 1) END 
		
		
		--Creará los usuarios del contexto @Codigo:
				-- administrador@ // administrador del sistema, se lo damos al cliente. // También tendrá el rol "Pedir Soportes".
				-- soporte@ // Para administrar los soportes solicitados en el sistema.
				-- testoperador@ // Para testear
				-- testoperadoravanzado@ // Para testear
				-- testadministrador@ // Para testear
				-- testmasteradmin@ // Para testear
		-- (Todos con el mismo pwd indicado)			
		
		
SELECT * FROM Contextos
SELECT * FROM Usuarios
SELECT * FROM RelAsig_RolesDeUsuarios_A_Usuarios
GO


-- ---------------------------
-- Script: DB_ParticularCore__C20__Add Contexto Testing.sql - FIN
-- =====================================================