-- =====================================================
-- Descripción: Testeamos los Errroes
-- Script: DB_XXX__P99__Test Errores.sql - INICIO
-- =====================================================

USE DB_XXX
GO

		
SELECT * FROM LogErroresApp
GO
SELECT * FROM LogErrores
GO

-- ---------------------------
-- Script: DB_XXX__P99__Test Errores.sql - FIN
-- =====================================================